<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/editForm.css">
    <title>Document</title>
</head>
<body>
    <div>
        <form id="editForm">
            <h1>Edit Field of your choosing</h1>
            <label for="Field">FIELD: 
                <select name="Field" id="select">
                    <option value="brands">Brand</option>
                    <option value="product_name">Name</option>
                    <option value="ingredients">Ingredients</option>
                </select>
            </label>
            <label for="input">Input: 
                <input placeholder="Enter Information to edit" type="text" id="input">
            </label>
            <button type="submit">CHANGE</button>
        </form>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>