<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form  id="Form">
            <h1>Create New Item</h1>
            <label for="product-name"> Product Name: <input type="text" id="name"></label>
            <label for="brand">Brand: <input type="text" id="brand"></label>
            <label for="Ingredients">Ingredients: <input type="text" id="ingredients"></label>
            <button type="submit">SUBMIT</button>
        </form>
        <!-- code Snippet to display the inventory products -->
         <div id="view">
            <h1>View Products</h1>
            <ul id="view_list"></ul>
         </div>

         <!-- Create a function to update name and brand for the products -->
        
    </div>
</body>
</html>